
<div class="container">
  <h1>Recipes Hub</h1>

  <p>Search recipes by ingredients (you can enter multiple ingredients separated by whitespace):</p>
    <%= form_tag recipes_path, method: :get, class: 'row g-2' do %>
      <div class="col-auto">
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
      </div>
      <div class="col-auto">
        <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </p>

  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Cook Time</th>
        <th scope="col">Category</th>
        <th scope="col">Ingredients</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <th scope="row"><%= recipe.title %></td>
          <td><%= recipe.cook_time %></td>
          <td><%= recipe.category %></td>
          <td><%= JSON.parse(recipe.ingredients).join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @recipes %>
</div>
